<!-- Rough mockup of add_number view -->
{% extends "layout.html" %}
{% block body %}
  <h2>Add Number</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <p>Please enter the phone number in the form below</p>
  <form action="#">
    <p>Name: <input type="text" name="phone_name"></p>
    <p>Number: <input type="text" name="phone_number"></p>
    <input type="submit" name="submit">
  </form>
  <p>Alternatively, you may choose from a pre-existing number</p>
  <form action="#">
    <select name="existing_number">
      <option value="A">A (123-456-7890)</option>
      <option value="B">B (123-456-7890)</option>
      <option value="C">C (123-456-7890)</option>
    </select>
    <input type="submit" name="submit">
  </form>
 
{% endblock %}